<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAssignment1Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49717/Assignment1Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssignment1Service"
                contract="ServiceReference1.IAssignment1Service" name="BasicHttpBinding_IAssignment1Service" />
        </client>
    </system.serviceModel>
</configuration>